* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  background-color: rgba(50,52,51,255);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-img {
  width: 70px;
}

#takeALook {
  display: flex;
  justify-content: center;
  align-items: center;
}

#images {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 550px;
}

div {
  align-items: center;
  background-color: rgba(241,241,241,255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;  
  height: 200px;
  margin: 5px;
  padding: 10px;
  width: 150px;
}
.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
