* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323433;
  align-content: space-between;
  color: white;
}

header img {
  margin-left: 0px;
}
header h1 {
  margin: 0px 25%;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.section1 {
  margin-top: 20px;
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.section2 {
  width: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto;
  padding: 20px;
}

div {
  background-color: #f1f1f1;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  height: 200px;
}

footer {
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
}