* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

header {
    background-color: lightblue;
    padding: 5px;
}

header h1 {
    text-align: center;
    margin: -5px;
}

nav h2 {
    text-align: center;
    margin: 20px -5px 20px -5px;
}

nav ul {
    display: table;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    margin: 20px;
}
aside {
    float: right;
    width: 30%;
    border: 2px solid black ;
    padding: 10px;
    margin: 40px 5px 40px 5px;
}

aside th {
    height: 50px;
}

aside h3 {
    text-align: center;
}
.CCLeftTableItens {
    text-align: left;
}

.CCRightTableItens {
    text-align: center;
}

article {
    padding: 5px;
}

#images {
    text-align: center;
}

#images img {
    border: 4px solid black;
}