html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

@media screen and (max-width: 600px) {
  body {
    background-color: aquamarine;
  }

  body div {
    background-color: white;
  }

  header {
    background-color: aquamarine;
  }

  header p {
    text-align: center;
    font-size: xxx-large;
  }

  nav ul {
    display: flex;
    padding: 20px 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 10%;
    font-size: xx-large;
    align-items: center;
    list-style: none;
  }

  .aside-both {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid black;
    margin: 0;
  }

  .main-content h1 {
    text-align: center;
    background-color: aquamarine;
    margin: 0;
  }

  .main-content p {
    font-size: x-large;
  }

  footer {
    background-color: aquamarine;
  }
}

@media screen and (min-width: 601px) and (max-width: 899px) {
  body {
    text-align: center;
  }
  header {
    background-color: aquamarine;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-color: whitesmoke;
  }
  h1, h2, h3{
    color: red;
    text-align: center;
  }
}