* {
    margin: 0;
    margin-top: 10px;
    border: 0;
    padding: 0;
}
h1 {
    text-align: center;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    width: 200px;
    display: inline-block;
    text-align: center;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: block;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  ul.awardWinners li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    
}

  h3 {
      text-align: center;
  }

  ul{
      display: inline-block;
      text-align: center;
  }

  li{
      display: inline-block;
      text-align: center;
  }