fieldset p {
    display: inline-block;
}

fieldset {
    margin: 10px 10px;
}

input {
    margin: 15px 10px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 10px 10px;
}